@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Font families */
  --font-sans: "InterVariable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Fira Code", "Fira Mono", "Courier New", monospace;

  /* Theme */
  --bg-light: #dcd8d8;
  --bg-dark: #0f172a;
  --text-color-light: #1e293b;
  --text-color-dark: #d1d5db;
}

@layer base {
  body {
    padding-bottom: 5rem;
    color: var(--text-color-light);
    background-color: var(--bg-light);
  }

  .dark body {
    color: var(--text-color-dark);
    background-color: var(--bg-dark);
  }
}

@layer components {
  .nav-link {
    @apply flex flex-col justify-center items-center w-full py-2;
  }

  .text-hover {
    @apply hover:text-sky-600 dark:hover:text-sky-400 transition-transform duration-300 ease-in-out;
  }

  /* nav-border-color (same as tiny in utility) */
  .nav-border {
    @apply border-slate-300 dark:border-slate-600;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  /* tiny text and border color */
  .tiny-border {
    @apply bg-slate-300 dark:bg-slate-600;
  }

  .text-tiny {
    @apply text-[0.6rem] leading-[0.5rem] font-mono text-slate-500 dark:text-slate-300;
  }
}

/* Navbar setup so no overlap on content */
@media (min-width: 640px) {
  body {
    padding-bottom: 0;
    padding-left: 5rem;
  }
}
