@import "tailwindcss";

@layer theme {
  :root {
    --font-sans: "InterVariable", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --font-heading: "Poppins", sans-serif;
    --font-display: "Playfair Display", serif;
    --font-size-tiny: 0.425rem;
  }
}

body {
  padding-bottom: 5rem;
}

/* navbar setup so no overlap on content */
@media (min-width: 640px) {
  body {
    padding-bottom: 0;
    padding-left: 5rem;
  }
}
